* {
  margin:0px auto;
}
.App {
  display:grid;
  grid-template-areas: 1fr 1fr 1fr;
  width: 80%;
  background-color: #F1F3F4;
}
.app-form {
  display: grid;
}
.form-inline {
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}
.form-inline label{
  margin: 5px 10px 5px 0;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}
.app-list {
  display: grid;
}
.app-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.app-list li {
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: justify;
  width: 240px;
}
.app-list button {
  padding: 15px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  margin: 5px;
}